<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>
    <h2>Your children</h2>
    <ul class="block" th:each="child: ${menu}">
        <a th:href="${'/schedule/'+child.getId()}">
            <li th:text="${child.getName()}"/>
            </li>
        </a>
        <li th:text="${child.getAge()}"/>
        </li>
        <li th:text="${child.getTotalPoints()}"/>
        </li>
        <a th:href="${'/tasks/'+child.getId()}">
            Add new task
        </a>

    </ul>

    <p class="block">
        <a href="/childs">Add new child</a>
    </p>
</div>
</body>
</html>